.container{
  display: flex;
  height: calc(100vh-70px);
}
.chat-list{
  width: 40%;
  height: 500px;
  margin: 16px;
  background: aqua;
  border-radius: 16px;
}
.messages{
  width: 60%;
  margin: 16px;
  height: 500px;
  border-radius: 16px;
}
.serch-input{
  margin: 24px;
}