<div class="container">
    <div class="row">
        <div class="col-mb-4 mb-5">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 ckass="text-theme-primary">Category</h2>
                    <p>Kartik Manage Your Category Details"</p>
                </div>
            </div>
        </div>
        <div>

        </div>
        <div class="col-mb-4 mb-5 ml-4">
            <div class="card shadow-effect" routerLink="/posts">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 ckass="text-theme-primary">Posts</h2>
                    <p>Kartik Manage Your Posts Details"</p>
                </div>
            </div>
        </div>
        <div class="col-mb-4 mb-5 ml-4">
            <div class="card shadow-effect" routerLink="/subscribers">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 ckass="text-theme-primary">subscribers</h2>
                    <p>Kartik Manage Your Subscriber List Details"</p>
                </div>
            </div>
        </div>
        <div class="col-mb-4 mb-5 ml-4">
            <div class="card shadow-effect" routerLink="/contactUs">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 ckass="text-theme-primary">ContactsQuery</h2>
                    <p>Kartik Manage Your Query List Details"</p>
                </div>
            </div>
        </div>
        <div class="col-mb-4 mb-5 ml-4">
            <div class="card shadow-effect" routerLink="/comment">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 ckass="text-theme-primary">comment</h2>
                    <p>Kartik Manage Your comment List Details"</p>
                </div>
            </div>
        </div>

    </div>
</div>