<div class="container">
    <div *ngIf="pdfForm">
      <form [formGroup]="pdfForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-7">
            <div class="card shadow-effect">
              <div class="card-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" (keyup)="onTitleChanged($event)" formControlName="title"
                    [ngClass]="{'is-invalid': fc.title.touched && fc.title.invalid}" />
                  <div *ngIf="fc.title.errors?.required">
                    <div class="alert alert-danger" *ngIf="fc.title.touched && fc.title.invalid">Title is required.</div>
                  </div>
                  <div *ngIf="fc.title.errors?.minlength">
                    <div class="alert alert-danger" *ngIf="fc.title.touched && fc.title.invalid">Post title should be more
                      than 10 character</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="">Post pdf</label>
              <img [src]="imgSrc" alt="" class="form-control img-fluid img-preview" />
              <input type="file" class="form-control" accept="pdf/*" (change)="showPreview($event)" formControlName="postPdf"
                [ngClass]="{'is-invalid': fc.postPdf.touched && fc.postPdf.invalid}" />
              <div *ngIf="fc.postPdf.errors?.required">
                <div class="alert alert-danger" *ngIf="fc.postPdf.touched && fc.postPdf.invalid">Pdf is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 mb-5">
          <div class="col-md-12 text-center mb-5">
            <button class="btn btn-info bg-theme" [disabled]="pdfForm.invalid">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  